html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  color: #fff;
  padding: 1em;
  text-align: center;
  z-index: 1000;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin-right: 20px;
}

#navbar a {
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

#navbar a:hover {
  color: yellow;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}


#welcome-section h1, 
#welcome-section p {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

#welcome-section p {
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

#project-section {
  padding: 3rem 1.5rem;
  background: #f5f7fa;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#project-section h2 {
  grid-column: 1 / -1;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 700;
}


.project-tile {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.project-tile.show {
  opacity: 1;
  transform: translateY(0);
}

.project-tile:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  transform: translate(15px, -10px);
}

.project-tile h3 {
  font-size: 1.3rem;
  color: #222;
}

.project-tile a {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #333;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.3s;
}

.project-tile a:hover {
  background: #005bcc;
}


#social-icons {
  text-align: center;
  padding: 3rem 0;
  background: #222;
  font-size: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#social-icons a {
  color: white;
  transition: 0.3s;
}

#social-icons a:hover {
  transform: scale(1.2);
  color: #0077ff;
}

@media (max-width: 768px) {
  #project-section {
    grid-template-columns: 1fr;
  }

  #navbar {
    padding: 0.5rem;
  }
}
