body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
a{
  text-decoration: none;
}
#welcome-section p{
  position: absolute;
  bottom: 0;
  right: auto;
  padding: 200px;
  
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  color: #fff;
  padding: 1em;
  text-align: center;
  
}

#navbar ul {
  
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin-right: 20px;
}

#navbar a {
  color: #fff; 
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#project-section {
  padding: 3rem 1.5rem;
  background: #f5f7fa;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1.5rem;
}


#project-section h2 {
  grid-column: 1 / -1; 
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
}


.project-tile {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  
}

.project-tile:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  transform: translate(20px, 10px);
}

.project-tile h3 {
  font-size: 1.3rem;
  color: #222;
  margin-bottom: 0.5rem;
}
.project-tile a {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background:#333;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  
}
.project-tile a:focus{
  color: rgb(234, 234, 0);
}
#social-icons {
  display: grid;
  font-size: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center; 
}


.project-tile a:hover {
  background: #005bcc;
}

@media (max-width: 768px) {
  #navbar {
    padding: 0.05rem;
  }
  #welcome-section {
    height: 100vh;
  }
}